<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
</head>

<body>

	<ul>
		<li><a n:href="Homepage:">Homepage</a></li>
	</ul>

	{block #category}
		{if count($categories) > 0}
			<ul>
				{foreach $categories as $category}
					<li>
						{ifCurrent Category: $category->id}
							<strong>{$category->name}</strong>
						{else}
							<a n:href="Category: $category->id">{$category->name}</a>
						{/ifCurrent}
						{include #category, 'categories' => $category->children}
					</li>
				{/foreach}
			</ul>
		{/if}
	{/block}
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>
